
html {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bolder;
}

img {
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#tutorial {
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: rgba( 0, 0, 0, 0.5);
  border-style: double;
}

td {
  width: 200px;
}

#info {
  display: none;
}

#info-image {
  position: absolute;
  margin-top: 25%;
  margin-left: 25%;
  transform: translateX(-50%) translateY(-50%);
}

#info-text {

  position: absolute;
  margin-top: 25%;
  margin-left: 75%;
  transform: translateX(-50%) translateY(-50%);

  background: (102, 102, 102, 0.5);
  border-style: double;
  font-size: xx-large;
}

#start-btn {
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
