html {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bolder;
}

img {
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#detail {
  position: absolute;
  margin-top: 25%;
  margin-left: 20%;
  transform: translateX(-50%) translateY(-50%);
}

#tip {
  position: absolute;
  margin-top: 3%;
  margin-left: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

#tutorial {
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: rgba(0, 0, 0, 0.5);
  border-style: double;
}

td {
  width: 200px;
}

#info {
  display: none;
}

#info-bg {
  opacity: 0.8;
}

#info-image {
  position: absolute;
  margin-top: 25%;
  margin-left: 35%;
  transform: translateX(-50%) translateY(-50%);
}

#info-text {
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translateY(-50%);

  background: (102, 102, 102, 0.5);
  border-style: double;
  font-size: xx-large;
}

#start-btn {
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
